#contact{
    padding: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 20px;
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            font-weight: 200;
            font-size: 60px;
        }
    }
    input{
        padding: 10px;
        width: 400px;
        border: none;
        background-color: #f3f3f3;
    }
    textarea{
        padding-top: 10px;
        padding-left: 10px;
        height: 130px;
        border: none;
        background-color: #f3f3f3;
    }
    button{
        margin-top: 40px;
        padding: 20px;
        width: 200px;
        background-color: #333333;
        color: white;
    }
    img{
        margin-top: 40px;
    }
}


@media(max-width: 1024px){

    #contact{

        form{
            margin: 0 auto;
        }

        img{
            display: none;
        }

        button{
            margin: 0 auto;
            width: 400px;
        }

    }

}
